@media screen and (max-width: 421px) {
  .wrapper {
    padding: 0 1rem;
    height: 100vh;
  }
  .title {
    font-size: 3rem;
  }
  .item1,
  .item2,
  .item3,
  .item4 {
    height: 30vh;
  }

  .slider__toggler1,
  .slider__toggler2,
  .slider__toggler3,
  .slider__toggler4 {
    width: 3.4rem;
    height: 3.4rem;
  }
  .mem__text{
    width: 100%;
    font-size: 2rem;
  }
}
