body {
  max-width: 1.28rem;
}

.wrapper {
  padding: 0 25rem;
  width: 100vw;
  height: 120vh;

  background: hsla(270, 94%, 25%, 1);

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(hsla(270, 94%, 25%, 1)),
    to(hsla(158, 94%, 49%, 1))
  );

  background: -o-linear-gradient(
    left,
    hsla(270, 94%, 25%, 1) 0%,
    hsla(158, 94%, 49%, 1) 100%
  );

  background: linear-gradient(
    90deg,
    hsla(270, 94%, 25%, 1) 0%,
    hsla(158, 94%, 49%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(270, 94%, 25%, 1) 0%,
    hsla(158, 94%, 49%, 1) 100%
  );
}
