#s1,
#s2,
#s3,
#s4 {
  margin-left: -1000rem;
  visibility: hidden;
}
.item__text1,
.item__text2,
.item__text3,
.item__text4 {
  opacity: 0;
  margin-left: -100%;
}

#s1:checked ~ .slider > .controls .mem__text > .item__text1 {
  opacity: 1;
  margin-left: -300%;

  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#s2:checked ~ .slider > .controls .mem__text > .item__text2 {
  opacity: 1;
  margin-left: -156%;

  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#s3:checked ~ .slider > .controls .mem__text > .item__text3 {
  opacity: 1;
  margin-left: -37%;

  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#s4:checked ~ .slider > .controls .mem__text > .item__text4 {
  opacity: 1;
  margin-left: 125%;

  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#s2:checked ~ .slider > .controls .mem__text > .item__text1,
#s3:checked ~ .slider > .controls .mem__text > .item__text1,
#s3:checked ~ .slider > .controls .mem__text > .item__text2,
#s4:checked ~ .slider > .controls .mem__text > .item__text1,
#s4:checked ~ .slider > .controls .mem__text > .item__text2,
#s4:checked ~ .slider > .controls .mem__text > .item__text3 {
  opacity: 0;

  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
