#s1,
#s2,
#s3,
#s4 {
  margin-left: -1000rem;
  visibility: hidden;
}
.item__text1,
.item__text2,
.item__text3,
.item__text4,
#s2:checked ~ .slider > .controls .mem__text > .item__text1,
#s3:checked ~ .slider > .controls .mem__text > .item__text2,
#s4:checked ~ .slider > .controls .mem__text > .item__text2,
#s4:checked ~ .slider > .controls .mem__text > .item__text3 {
  opacity: 0;
}

#s1:checked ~ .slider > .controls .mem__text > .item__text1 {
  opacity: 1;
  transition: all 0.8s ease-in;
}

#s2:checked ~ .slider > .controls .mem__text > .item__text2 {
  opacity: 1;
  margin-left: -55%;
  transition: all 0.8s ease-in;
}
#s3:checked ~ .slider > .controls .mem__text > .item__text1 {
  opacity: 0;
  margin-left: -70%;
}

#s3:checked ~ .slider > .controls .mem__text > .item__text3 {
  opacity: 1;
  margin-left: -65%;
  transition: all 0.8s ease-in;
}
#s4:checked ~ .slider > .controls .mem__text > .item__text1 {
  opacity: 0;
  margin-left: -38.5rem;
}

#s4:checked ~ .slider > .controls .mem__text > .item__text4 {
  opacity: 1;
  margin-left: -159%;
  transition: all 0.8s ease-in;
}
